@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  @apply w-screen h-screen;
}

body {
  min-height: 100vh; /* Ini adalah pengganti dari min-h-screen */
  background: linear-gradient(180deg, #000 0.04%, var(--purple, #AA1C93) 91.31%);
  font-family: "Poppins", sans-serif;
}

body.greenScreen {
  @apply bg-[#00ff00] bg-none;
}
